{:application-name "cinephile"
 :topics           {:producers []
                    :consumers [{:new-minion "USER.NEW-MINION"}
                                {:new-cinephile "USER.NEW-CINEPHILE"}]}}
