{:application-name "motion-pictures"
 :topics           {:producers [{:greeting "GREETING-KAFKA-TOPIC"}]
                    :consumers [{:hello "HELLO-KAFKA-TOPIC"}]}
 :services         {:cinephile "http://localhost:8085"}}
